body {
            margin: 0 auto;
            padding: 0;
            font-family: Arial, sans-serif;
            border: 0;
            background-color: black;
            height: 100vh;
        }

        .container {
            position: relative;
            width: 1230px;
        }

        .superman-logo {
            text-align: center;
            position: relative;
            top: 400px;
        }

        .superman-logo img {
            width: 100%;
            max-width: 900px;
        }

         .pic1 {
            text-align: center;
             position: relative;
             top: 3px;
        }

        .pic img {
            width: 100px;
            max-width: 400px;
            
        }

        .namepic {
             text-align: center;
             position: relative;
             bottom: 20px;
        }

        .namepic img {
            width: 100%;
            max-width: 500px;
        }

        .man-of-steel {
            position: absolute;
            bottom: 190px;
            right: -80px;
            transform: rotate(90deg);
            background-color: red;
            padding: 5px;
            font-family: 'Comic Sans MS', sans-serif;
            font-size: 50px;
            font-weight: bold;
            color: #f2b227;
            text-shadow: 2px 2px 0px black;
        }

        .footer-box {
            background-color: lightpink;
            width: 100%;
        }

        .footer-box p {
            color: black;
            margin: 0;
            font-size: 17px;
            text-align: center;
        }

        .footer {
            text-align: center;
            font-size: 14px;
            background-color: yellow;
            padding: 10px;
            position: absolute;
            bottom: -50px;
            width: 100%;
        }